{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <main>
  <div class="container py-5">
    
    
  <div class="row featurette">
      <h1>Об авторе проекта</h1>
      <hr>
    <div class="col-md-7 order-md-1">
      <div class="col-8 offset-2 d-flex justify-content-center">
        <img class="author" src="{% static 'img\my_photo.png' %}">
      </div>
    </div>
    <div class="col-md-5 order-md-2 py-5">
      <p>
        Примерно 2 года назад я увлёкся созданием сайтов. Обучился созданию сайтов на Tilda.<br>
        Долгое время делал сайты только там, но мне этого стало мало.<br>
        Мне было интересно как всё это работает. И тогда я начал мониторить площадки на<br>
        которых можно обучиться кодить по взрослому.<br>
        Я сравнивал Skillbox, GeekBrains и <a href= "https://practicum.yandex.ru/">Яндекс.Практикум</a><br>
        Теперь у меня цель научиться кодить на Python и устроиться на работу в IT компанию.
      </p>
    </div>
  </div>

  </div>
</main>
{% endblock %}