<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1 align="center">Вот что я умею</h1>
</div>  
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
<div class="col-4"  
  <aside class="col-12 col-md-3" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
</div>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
<div class="col-8">
  <article class="col-12 col-md-9" style="position: relative; left: 550px">
    <p align="center">Еще не в совершенстве, но это временно</p>
  </article>
</div>
{% endblock %}